@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff0f0;
  --color-primary-100: #ffdbdb;
  --color-primary-200: #ffbaba;
  --color-primary-300: #ff8f8f;
  --color-primary-400: #ff5454;
  --color-primary-500: #ff2424;
  --color-primary-600: #eb0000;
  --color-primary-700: #c40000;
  --color-primary-800: #a30000;
  --color-primary-900: #870808;
  --color-primary: var(--color-primary-500);

  --color-brand-blue: #4d96ff;
  --color-brand-orange: #ff8b3d;
  --color-brand-green: #34d399;
  --color-brand-red: #FA5252;
  --color-brand-light-red: #fff0f0;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --background: #fdfbfb;
  --foreground: #2d2a2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar for horizontal lists */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* ==================================
   Map (Leaflet) Override Styles
   ================================== */

.leaflet-container {
  font-family: var(--font-sans) !important;
  z-index: 10 !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 16px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0,0,0,0.05);
}

.dark .leaflet-popup-content-wrapper {
  background-color: #1f2937 !important;
  color: #fff !important;
  border: 1px solid rgba(255,255,255,0.1);
}

.dark .leaflet-popup-tip {
  background-color: #1f2937 !important;
}

.leaflet-popup-content {
  margin: 10px !important;
}